.title {
  @apply text-highlight;
  background: linear-gradient(
    to right,
    var(--highlight-100) 0%,
    var(--highlight-200) 50%,
    var(--highlight-100) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
