.title {
  @apply text-highlight;
  background: linear-gradient(
    to right,
    var(--highlight-100) 0%,
    var(--highlight-200) 50%,
    var(--highlight-100) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  @apply h-[280px];
  @apply w-[240px];
  @apply bg-accent;
  @apply shadow-card-shadow;
}

.active {
  @apply text-highlight-200;
  @apply font-bold;
}
