@layer base {
  body {
    @apply text-light;
    @apply font-open-sans-regular;
    background: radial-gradient(circle, #0e0e15 10%, transparent 11%);
    background-size: 1em 1em;
    background-color: #020203;
    opacity: 1;
    @apply overflow-x-hidden;
  }

  h1 {
    @apply text-[48px];
    @apply font-bold;
  }

  h2 {
    @apply text-[32px];
    @apply font-bold;
  }

  h3 {
    @apply text-[26px];
    @apply font-bold;
  }

  h4 {
    @apply text-[20px];
    @apply font-bold;
  }
}
