@layer base {
  body {
    @apply text-light;
    @apply font-open-sans-regular;
    background: radial-gradient(circle, #0e0e15 10%, transparent 11%);
    background-size: 1em 1em;
    background-color: #020203;
    opacity: 1;
    @apply overflow-x-hidden;
  }

  h1 {
    @apply md:text-[46px] text-[26px];
    @apply font-bold;
  }

  h2 {
    @apply md:text-[30px] text-[24px];
    @apply font-bold;
  }

  h3 {
    @apply md:text-[24px] text-[22px];
    @apply font-bold;
  }
}
